.FocusOnHover:hover 
{

	background-color: red;
}

.ChatMemberDiv
{
	background-color: grey;
	max-height: 90vh;
	height:90vh;
}

.ChatDiv
{
	background-color: green;
	max-height: 90vh;
	height:90vh;
}

.InBottom
{
	position : fixed;
	bottom : 0;
	width: 100%;
}