
		<div class="row well text-center" >
			<div class="col-md-11" ng-bind="chattosome.dw.chattingWith"></div>
			<div class="col-md-1 glyphicon glyphicon-plus" ng-if="!chattosome.dw.addingToGroup" ng-click="chattosome.groupView(chattosome.dw.chattingWith)"></div>
			<div class="col-md-1 glyphicon glyphicon-thumbs-up" ng-if="chattosome.dw.addingToGroup && parseInt(chattosome.dw.userName)" ng-click="chattosome.chatView()"></div>

		</div>
		<div class="row Chat">
			<ul class="list-group">
				<li class="list-group-item {{a.from}}" ng-repeat="a in chattosome.msgs">{{a.msg}}</li>
			</ul>
		</div>
		<div class="InBottom" > <!-- ng-if="!chattosome.dw.addingToGroup"> -->
			<form>
				<div class="form-group">
					<!-- <textarea placeholder="type here" class="form-control" ng-model="chattosome.message"></textarea> -->
					<input type="text" placeholder="type here" class="form-control" ng-model="chattosome.message">
					<input type="submit" class="btn btn-primary" ng-click="chattosome.sendMsg()">		
				</div>
			</form>
		</div>
