<div class="row">
	<div class="col-md-3 ChatMemberDiv">
		<div class="onlineUsers">
			<div class="row">
				<p>ONLINE USERS</p>
			</div>
			<div>
				<!-- <ul class="list-group chat-list">
					<li class="list-group-item FocusOnHover" ng-repeat="user in chat.data.users" ng-if = "user.userName!=chat.data.userName" 
					ui-sref='chatwith({userName : user.userName})'>
						{{user.userName}}
						<span class="badge" ng-if="user.newMsgsCount > 0">{{user.newMsgsCount}}</span>  
					</li>
				</ul> -->
				<!-- <ul></ul> -->
					<div class="row list-group-item FocusOnHover" ng-repeat="user in chat.data.users" ng-if = "user.userName!=chat.data.userName">
						<div class="col-md-10" ui-sref='chatwith({userName : user.userName})'>{{user.userName}}</div>
						<div class="col-md-2 badge" ng-if="(user.newMsgsCount > 0) && !chat.data.addingToGroup">{{user.newMsgsCount}}</div> 
						<div class="col-md-2 glyphicon glyphicon-plus" ng-if="chat.data.addingToGroup" 
						ng-click="chat.addToGroup(user.userName)"></div> 
					</div>
			</div>
		</div>





		<div class="groups">
			<div class="row">
				<p>GROUPS</p>
			</div>
			<div>
					<div class="row list-group-item FocusOnHover" ng-repeat="group in chat.data.groups" >
						<div class="col-md-10" ui-sref='chatwith({userName : group.groupID})'>{{group.groupID}}</div>
						<div class="col-md-2 badge" ng-if="(group.newMsgsCount > 0)">{{group.newMsgsCount}}</div> 
					</div>
			</div>
		</div>



	</div>
	<div class="col-md-9" ui-view>
		<!-- <div class="row well text-center">

		</div>
		<div class="row Chat">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="">{{}}</li>
			</ul>
		</div>
		<div class="InBottom">
			<form>
				<div class="form-group">
					<textarea placeholder="type here" class="form-control" ng-model="chat.message"></textarea>
					<input type="submit" class="btn btn-primary">		
				</div>
			</form>
		</div> -->
	</div>