<form id="loginForm" >
	<div class="form-group">
		<input type="text" id="userName" placeholder="username" ng-model="loginAs.userName"/>
		<input type="submit" value="let me chat" class="btn btn-primary"  ng-click="loginAs.register()"/>
	</div>
</form>
